a.out
/data/*
/plots/*
a.out
plots/*
data/0.25pirads1.0eta3.0g1.0eps2gaussdielecfieldmap.dat
data/*
data/0.25pirads3.0eta3.0g-1.0eps2gaussdielecfieldmap.dat
*.out
*.txt
stringmod.f90
*.mod
*.dSYM/
precmod.f90
notes.nb
fort.2
Strings/
Strings.zip
Econserv.dat
matlab_command_5.5.m
.DS_Store
test.out